/*****************************Globales*********************************/
:root{
    --bs-pink: #fdcae1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-text);
}

.corrida{
  font-family: 'Dancing Script', cursive;
}

.titulos{
  font-size: 2.5rem;
}

.subtitulos{
  font-size: 25px;
}

/**********************************************************/

/*************************Nav*********************************/

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fdf9c4;
  }

.fonde-texto{
    background-color: #ffc800;
}  
  #mainNav .navbar-toggler {
    padding: 0.75rem;
    font-size: 0.75rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    font-weight: 700;
  }
  #mainNav .navbar-brand {
    color: #ffc800;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
  }
  #mainNav .navbar-brand img {
    height: 1.5rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.95rem;
    color: #ffc800;
    letter-spacing: 0.0625em;
  }
  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #eb4ca3;
  }

  @media (min-width: 992px) {
    #mainNav {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border: none;
      background-color: #fdf9c4d7;
      transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
      font-size: 1.5em;
      transition: font-size 0.3s ease-in-out;
    }
    #mainNav .navbar-brand img {
      height: 2rem;
      transition: height 0.3s ease-in-out;
    }
    #mainNav.navbar-shrink {
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: #fdf9c4;
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.25em;
    }
    #mainNav.navbar-shrink .navbar-brand svg,
  #mainNav.navbar-shrink .navbar-brand img {
      height: 1.5rem;
    }
    #mainNav .navbar-nav .nav-item {
      margin-right: 1rem;
    }
    #mainNav .navbar-nav .nav-item:last-child {
      margin-right: 0;
    }
  }

/**************************************************************/

/**********************cabecera*******************************/

.cabecera{
    min-height: 800px;
    background-image: url("../static/imagen-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: #ffffff;
  background-blend-mode: multiply;
}

h1{
  color: #ffc800;
  font-size: 90px;
}

header p{
  color: #ffc800;
}

/***************************************************************/


/*********************Pie de cabecera****************************/
.pie-header{
    background-color: #f8f5cb;
    min-height: 100px;
}
/**********************************************************/

/**********************Bloque 1************************************/
.bloque-1{
    background-color: #fcebd6;
    min-height: 500px;
}
.color-boton-1{
  background-color: #f8f5cb;
}
.color-boton-1:hover{
  background-color: #ffda9e;
  color: #ffc800;
}
/**********************************************************/

/***********************Bloque 2***********************************/
.bloque-2{
  background-color: #faefdd;
    min-height: 500px;
    color: #ffc800;
}

.fondo-carta{
  background-color: #f7f7d5;
}

.fondo-titulo{
  background-color: #f8f8a6;
}
/**********************************************************/

/***********************Bloque 3***********************************/
.bloque-3{
  min-height: 500px;  
  background-color: #f7f7d5;  
}
/**********************************************************/

/*********************Bloque 4*************************************/
.bloque-4{
    min-height: 400px;
    font-weight: bold;
    background-image: url("../static/mesa.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: #ffffff;
  background-blend-mode: multiply;
}
/******************Form****************************************/
.form-control{
  background-color: #f8e7ef;
}

.boton{
  height: 60px;
}
.color-boton-2{
  background-color: #f8e7ef;
}
.color-boton-2:hover{
  background-color: #ffda9e;
  color: #ffc800;
}
/**********************************************************/
/**********************************************************/

/********************Footer**************************************/
footer{
  background-color: #fdf9c4;
    min-height: 230px;
}

.pie-footer{
  background-color: #f8f8a6;
  min-height: 70px;
}
/**********************************************************/

